<div class="main">
  <div class="container">
    <h2 style="margin-top: -15px; opacity: 0.8">CryptoCurs</h2>
    <div class="header">
    <h3>Курс криптовалюты</h3>
      <h4>Актуальные курсы всех криптовалют к мировой валюте</h4>
    </div>
    <div class="raw">
      <h4>Криптовалюты</h4>
      <div class="tab">
        <% @currencies.each do |currency| %>
        <button class="tablinks" onclick="openCity(event, '<%= currency.code %>')"><%= currency.code.upcase %></button>
        <% end %>
          </div>
      <!-- Tab content -->
      <% @currencies.each do |currency| %>
      <div id=<%= currency.code %> class="tabcontent">
        <%= render :partial => 'currency_table', :locals => {:currency => currency} %>
      </div>
          <% end %>
    </div>

  </div>

</div>