<div class="main">
  <div class="container">
    <h2 style="margin-top: -15px; opacity: 0.8">CryptoCurs</h2>
    <div class="header">
      <h2><%= @pair.code %></h2>
    </div>
    <div class="raw">
      <div class="InfoBlock">
        <h4 class="InfoLabel">Цена на данный момент:</h4>
        <h2 class="InfoData"><%= @pair.bid %></h2>
      </div>
      <div class="Graph">
        <%= area_chart(@data) %>
      </div>

    </div>

  </div>
</div>